.ai__user__request {
    background: linear-gradient(48deg, rgba(8, 128, 234, 0.06) 2.67%, rgba(137, 32, 254, 0.06) 42.97%, rgba(233, 61, 195, 0.06) 66.1%, rgba(233, 61, 130, 0.06) 75.54%, rgba(198, 42, 182, 0.06) 92.63%);
}

#ai-messages {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: bold;
    }

    .ai-response-text {
        line-height: 40px;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-weight: bold;
        }

        ol,
        ul {
            list-style: circle;
        }
    }

    line-height: 40px;
}

.defualt__chat__empty__box {
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: gray;
    font-size: 16px;
    font-weight: normal;

    .logo {
        height: 40px;
        margin-bottom: 24px;
    }

    .shape {
        margin-top: 40px;
        height: 100px;
    }
}

#ai-chat-bottom-sheet {
    .setting__chat {
        margin-left: 16px;
        cursor: pointer;
    }

    #close-chat {
        cursor: pointer;
    }

    .setting__chat__modal {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding: 8px;
        padding-bottom: 0;
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.7);
        display: none;

        .items {
            background: white;
            padding: 24px 16px 16px 16px;
            border-radius: 10px 10px 0 0;
            margin-top: auto;
            min-width: 700px;
            display: inline-flex;
            flex-wrap: wrap;


            .select__type {
                display: flex;
                flex-direction: column;
                align-items: start;
                width: 100%;
                margin-bottom: 24px;

                select:not([size]) {
                    background-position: left 0.75rem center;
                    width: 100%;
                    padding-right: 10px;
                }

                #toggles {
                    margin-right: 0;
                    height: 42px;
                    display: flex;
                    align-items: center;

                    .checkbox-label {
                        height: 24px;
                        width: 44px;

                        &::before {
                            height: 24px;
                            width: 24px;
                        }

                        &::after {
                            padding-top: 3px;
                            padding-right: 8px;
                            right: 50px;
                            font-weight: 500;
                            font-size: 0.875rem;
                            line-height: 1.25rem;
                        }
                    }

                    .ios-toggle:checked+.checkbox-label:before {
                        left: calc(100% - 24px);
                    }
                }
            }
        }

        @media (max-width: 768px) {

            .items {
                min-width: unset;
                width: 90%;

                .select__type {
                    width: 100%;
                    margin-bottom: 24px;
                    display: inline-block;
                }
            }
        }

        @media (max-width: 468px) {

            .items {
                width: 95%;

                .select__type {
                    width: 100%;
                    margin-bottom: 24px;
                    display: block;
                }
            }
        }
    }

    .setting__chat__modal__show {
        display: inline-flex;
    }
}

.tox-notification--info {
    display: flex;
    flex-direction: column;
}

.tox-dialog-wrap__backdrop{
    background-color: rgba(#111827, 0.8) !important;
}

.tox-dialog {
    margin-top: auto !important;
    .tox-dialog__header {
        padding: 16px 24px 16px 24px !important;

        .tox-dialog__title {
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
        }
    }

    .tox-dialog__content-js {
        .tox-dialog__body {
            .tox-dialog__body-content {
                padding: 24px;
                padding-top: 0;

                .tox-form {
                    .tox-form__group {
                        p {
                            line-height: 40px;
                            font-size: 16px;
                            font-weight: normal;
                            border-radius: 8px;
                            background-color: #f9f9f9;
                            padding: 12px;
                        }

                        .apply-ai-result {
                            background-color: #0e75cf;
                            padding: 10px 24px;
                            border-radius: 6px;
                            font-weight: 600;
                            font-size: 16px;
                            text-align: center;
                            color: white;
                            cursor: pointer;
                            margin-top: 24px;
                            margin-bottom: 24px;
                            border: 1px solid transparent;

                            &:hover {
                                background-color: #0b61ac;
                                color: white;
                            }
                        }

                        .cancel-ai-result {
                            background-color: white;
                            padding: 10px 24px;
                            border-radius: 6px;
                            font-weight: 600;
                            font-size: 16px;
                            text-align: center;
                            color: red;
                            cursor: pointer;
                            margin-top: 24px;
                            margin-bottom: 24px;
                            border: 1px solid red;

                            &:hover {
                                background-color: red;
                                color: white;
                            }
                        }
                    }
                }
            }
        }
    }
}

