.codex-editor__redactor {
  background: #fff !important;
  border: 1px solid rgb(209, 213, 219) !important;
  border-radius: 0.375rem !important;
  margin-right: 0px !important;
}
.ce-toolbar__actions {
  right: -34px !important;

  @include mq(768) {
    right: 0px !important;
  }
}

body[dir="ltr"] {
  .ce-toolbar__actions {
    left: -34px !important;

    @include mq(768) {
      left: 0px !important;
    }
  }
}

.ce-block__content {
  max-width: 600px;
  h6{
    font-size: 16px;
  }
  h5{
    font-size: 24px;
  }
  h4{
    font-size: 32px;
  }
  h3{
    font-size: 40px;
  }
  h2{
    font-size: 48px;
  }
  h1{
    font-size: 56px;
  }
}
.editorContainer {
  margin-top: -22px !important;
}
.ce-popover-item__icon {
  margin: 0 8px;
}
.ce-rawtool__textarea {
  direction: ltr !important;
}
.image-tool__modal-container__input-container {
  .cdx-input {
    direction: ltr !important;
  }
}

body[dir="rtl"] {
  .image-tool__wrapper-toggler {
    left: 12px !important;
    right: unset !important;
  }
}
.tc-add-column {
  z-index: 1;
}
.codex-editor__redactor {
  padding-top: 24px;
}

.ce-popover__items {
  /* width */
  &::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background-color: #6b7280;
    border-radius: 4px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background-color: #374151;
    border-radius: 4px;
    width: 3px;
  }
}

.ce-toolbar__plus {
  background-color: #f3f4f6 !important;
  height: 30px;
  width: 30px;
  border-radius: 3px;
  svg path {
    stroke: #374151;
  }
}
.ce-popover__search {
  background-color: white;
}
.cdx-search-field {
  border: 1px solid #e5e7eb;
  .cdx-search-field__input {
    &:focus{
      outline: none;
      box-shadow: none;
      text-shadow: none;
    }
    
  }
}
.image-tool__button-wrapper{
  .cdx-button{
    &:nth-child(3){
      display: none;
    }
  }
}