@page
@model Web.Pages.Error.Error500Model
@{
}



<main>

    <!-- error area start  -->
    <section class="error-area">
        <div class="container">
            <div class="error-area-inner section-spacing">
                <div class="section-content">
                    <div class="shape-1">
                        <img class="show-light" src="~/Template/assets/imgs/shape/img-s-88.webp" alt="shape">
                        <img class="show-dark" src="~/Template/assets/imgs/shape/img-s-88-light.webp" alt="shape">
                    </div>
                    <div class="error-shape has_fade_anim">
                        <img class="show-light" src="~/Template/assets/imgs/shape/img-s-96.webp" alt="shape">
                        <img class="show-dark" src="~/Template/assets/imgs/shape/img-s-96-light.webp" alt="shape">
                    </div>
                    <div class="section-title-wrapper">
                        <div class="title-wrapper">
                            <h1 class="section-title has_fade_anim" data-delay="0.30">
                                اوه! مشکلی در سرور پیش آمده است.


                            </h1>
                        </div>
                    </div>
                    <div class="text-wrapper">
                        <p class="text has_fade_anim" data-delay="0.45">

                            ما از این خطا مطلع شده‌ایم و در حال رفع آن هستیم.

                            <br>
                            لطفاً

                            چند دقیقه دیگر دوباره تلاش کنید.

                            <br>
                            <b>
                                با تشکر از صبر و شکیبایی شما!

                            </b>
                        </p>
                    </div>
                    <div class="btn-wrapper has_fade_anim" data-delay="0.60">
                        <a href="/" class="wc-btn wc-btn-primary btn-text-flip">
                            <span data-text="بازگشت به خانه">
                                بازگشت به خانه
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- error area end  -->


</main>