@page
@model Web.Pages.DTCMS.Profile.IndexModel
@{
    ViewData["Title"] = "پروفایل";
    Layout = "_DashLayout";
}
@inject IStringLocalizer<ResourceLibrary.Panel.Common.Global.Global> GlobalLocalizer;




<form method="post">




 
    <main>
        <div class="rlt:text-right ltr:text-left">
            <div class="mb-6">
                <dt:image-uploader asp-for="Items.UserPicUrl" rounded="true"></dt:image-uploader>
            </div>

            <div class="mb-12 text-center">
                <dt:gender asp-for="Items.Gender"></dt:gender>
            </div>


            <div class="mb-6">
                <dt:input-text asp-for="Items.Name"></dt:input-text>
            </div>

            <div class="mb-6">
                <dt:input-text asp-for="Items.Family"></dt:input-text>
            </div>




        </div>
        <button type="button"
                class="text-center w-full focus:outline-none text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5  mb-2 dark:focus:ring-yellow-900">
            @GlobalLocalizer["Edit"]
        </button>

    </main>






</form>
