@page
@model InjectCodeModel
@inject IStringLocalizer<ResourceLibrary.Panel.Admin.Settings.Settings> Localizer;
@inject IStringLocalizer<ResourceLibrary.Resources.Setting.SettingRes> LocalizerSetting;
@inject IStringLocalizer<ResourceLibrary.Panel.Common.Global.Global> GlobalLocalizer;
@{
    List<SelectListItem> selectListItems = new List<SelectListItem>();
    selectListItems.Add(new SelectListItem()
            {
                Text = Localizer["Title"],
                Value = "/dtcms/settings"
            });
    selectListItems.Add(new SelectListItem()
            {
                Text = Localizer["InjectCodeTitle"],
                Value = "#"
            });
    ViewData["TitleList"] = selectListItems;
    ViewData["Title"] = Localizer["Title"] + " " + Localizer["InjectCodeTitle"];
    Layout = "_DashLayout";
    ViewBag.HasBottomSheetMenu = false;
}



<form method="post">
    <main>
        <div class="rlt:text-right ltr:text-left">
            @* <div class="mb-6">
            <dt:text-area dir="ltr" class="codeContainer" asp-for="Items.InjectHeader"></dt:text-area>
            </div>
            <div class="mb-6">
            <dt:text-area asp-for="Items.InjectFooter"></dt:text-area>
            </div> *@

            <div>
                <label class="block text-sm font-medium text-gray-700  mb-2"> @LocalizerSetting["InjectHeader"]</label>
                <div dir="ltr" class="code__container leading-10 mb-12" data-codinput-target="headerInjector"></div>
                <input type="hidden" id="headerInjector" asp-for="Items.InjectHeader" />
            </div>
          
            <div>
                <label class="block text-sm font-medium text-gray-700   mb-2">@LocalizerSetting["InjectFooter"]  </label>
                <div dir="ltr" class="code__container leading-10  mb-10 " data-codinput-target="footerInjector"></div>
                <input type="hidden" id="footerInjector" asp-for="Items.InjectFooter" />
            </div>
        

        </div>

        <button type="button"
            class="text-center w-full text-white bg-green-400 hover:bg-green-500 focus:ring-4 focus:outline-none focus:bg-green-500 font-medium rounded-lg text-sm px-5 py-2.5 inline-flex dark:focus:ring-[#3b5998]/55  mb-2 items-center flex justify-center">
            @GlobalLocalizer["SaveChanges"]
        </button>

    </main>

</form>