@page
@model SessionModel
@inject IStringLocalizer<ResourceLibrary.Panel.Admin.Settings.Settings> Localizer;
@inject IStringLocalizer<ResourceLibrary.Panel.Common.Global.Global> GlobalLocalizer;
@{
    List<SelectListItem> selectListItems = new List<SelectListItem>();
    selectListItems.Add(new SelectListItem()
            {
                Text = Localizer["Title"],
                Value = "/dtcms/settings"
            });
    selectListItems.Add(new SelectListItem()
            {
                Text = Localizer["SecurityTitle"],
                Value = "#"
            });
    ViewData["TitleList"] = selectListItems;
    ViewData["Title"] = Localizer["Title"] + " " + Localizer["SecurityTitle"];
    Layout = "_DashLayout";
    ViewBag.HasBottomSheetMenu = false;
}


@foreach (var item in Model.Items)
{
    <div>
        @item.DeviceName

        @item.BrowserType
         - @item.IsCurrent
    </div>
}

<main>
   
        <h4 class="text-right text-gray-700 text-sm font-normal leading-tight"> نشست های فعال</h4>

    <div class=" px-2 py-4 bg-white rounded-md shadow flex-col justify-start items-end  flex">
        <div class="px-1.5 flex-col justify-center items-end   flex">
            <div class="flex-col justify-start items-end  flex">
                <div class=" text-gray-800 text-sm font-bold leading-tight">مرورگر کروم</div>
                <div class=" text-gray-600 text-xs font-light leading-none">فرانسه ، Android</div>
            </div>
        </div>
        <div class="self-stretch px-2 justify-between items-center inline-flex">
            <div class=" text-emerald-400 text-sm font-bold   leading-tight">فعال</div>
            <div class=" text-blue-600 text-xs font-light   leading-none">182.12.31.32</div>
        </div>
    </div>
   
</main>