@page
 
@inject IStringLocalizer<ResourceLibrary.Panel.Admin.Dashboard.Dashboard> Localizer;
@model IndexModel

@{
    ViewData["Title"] = Localizer["Title"];
    Layout = "_DashLayout";
}
 
<main>
    <vc:greeting></vc:greeting>
 
</main>