.site__main__content {
    display: flex;

    &.ltr {
        flex-direction: row-reverse;
    }

    .right {
        width: 250px;
        min-height: 100vh;
        z-index: 25;

        aside {
            width: 100%;
        }
    }

    .left {
        width: calc(100% - 250px);
        min-height: 100vh;
    }

    .title__breadcrumbs {

        li {
            position: relative;
            
            &::after {
                font-family: 'icomoon' !important;
                speak: never;
                font-style: normal;
                font-weight: normal;
                font-variant: normal;
                text-transform: none;
                line-height: 1;
                /* Better Font Rendering =========== */
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                content: "\e92e";
                position: absolute;
                left: -8px;
                top: 3px;
                color: #fff;
                font-weight: bold;
            }

            &:last-child {
                &::after{
                    content:none;
                }
            }
        }
    }
}
body[dir="ltr"] {
  
  .title__breadcrumbs {

    li {
       
        
        &::after {
           
            left: unset;
            right: -8px;
            top: 3px;
            transform: rotate(180deg);
        }

       
    }
}
}
.dash__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  height: 100vh;
  background-color: rgba($color: #000000, $alpha: 0.5);
}

@media (max-width: 992px) {
    .site__main__content {
        .left {
            width: 100%;
        }

        .right {
            position: fixed;
            right: -100vw;
            transition: 0.4s all;
            width: 300px;

            .menu {
                height: 100vh;
                min-height: 100vh;
                width: 300px;
                //box-shadow: -4px 0px 20px 0px rgba($color: #fff, $alpha: 0.3);
            }
        }

        .dash__overlay {
            width: 100vw;
            height: 100vh;
            background-color: rgba($color: #000000, $alpha: 0.5);
            position: fixed;
            z-index: 24;
            display: none;
        }
    }
}

.show__aside__menu {
  .right {
    right: 0 !important;
  }

  .dash__overlay {
    display: block;
  }
}